<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CASABACA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <img _ngcontent-smt-c47=""
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTnh-jIjykgOIWOoYXLHBZnExBU03mM2v4kO3zz3myBep-AxcmILq5fuzD5JeGw8-BgbU&usqp=CAU"
        alt="Logo Casabaca" width="140">
    <h6>LOS MEJORES EN ECUADOR </h6>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

<!--Con ayuda de Bootstrap se realizara la barra de navegacion 
la cual tendra la navegación para nuestro proyecto-->
<!--Barra de navegación de bootstrap-->
<nav class="navbar navbar-expand-lg bg-danger txt-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TOYOTA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--Las siguientes barras en la navegación no direccionaran a las paginas de Toyota ya que se la tarea se tomo como ejemplo TOYOTA-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://casabaca.hiringroom.com/jobs">Trabaja
                        con nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://www.casabaca.com/?gclid=CjwKCAjw7cGUBhA9EiwArBAvotFaOc6FeL72D_8H0xn4fjK_YOqm2jQRqOD78xiXtgQe-JU74tkUYxoCsfEQAvD_BwE#/modelos">MODELOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        CRÉDITOS Y SEGUROS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"
                                href="https://www.casabaca.com/?gclid=CjwKCAjw7cGUBhA9EiwArBAvotFaOc6FeL72D_8H0xn4fjK_YOqm2jQRqOD78xiXtgQe-JU74tkUYxoCsfEQAvD_BwE#/crédito">Crédito</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="https://www.casabaca.com/?gclid=CjwKCAjw7cGUBhA9EiwArBAvotFaOc6FeL72D_8H0xn4fjK_YOqm2jQRqOD78xiXtgQe-JU74tkUYxoCsfEQAvD_BwE#/seguros">Seguro</a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        <li><a class="dropdown-item"
                                href="https://www.casabaca.com/?gclid=CjwKCAjw7cGUBhA9EiwArBAvotFaOc6FeL72D_8H0xn4fjK_YOqm2jQRqOD78xiXtgQe-JU74tkUYxoCsfEQAvD_BwE#/financiamiento">Financiamiento</a>
                        </li>
                </li>

            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link enable"
                    href="https://www.casabaca.com/?gclid=CjwKCAjw7cGUBhA9EiwArBAvotFaOc6FeL72D_8H0xn4fjK_YOqm2jQRqOD78xiXtgQe-JU74tkUYxoCsfEQAvD_BwE#/accesorios">ACCESORIOS</a>
            </li>
            </ul>
            <!--Parte de navegacion en donde tendremos una barra de busquedad la cual tendra su botón para direcionar la busquedad -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>

<!--Carrousel-->
<!--Podremos observar varias imagenes las cuales se iran traspasando segun uno lo reequiera seran imagenes
     llamdas desde su url de dirección imagenes llamativas-->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
         aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
       
    </div>
    <div class="carousel-inner">
        <!--Elementos individuales-->
        <!--Cada imagen o elemnto de nuestro carusel tendra su clase la llamamos a la imagen a colocar se agregara a todas las imaganes -->
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://i.ytimg.com/vi/zk2DexkdGQE/maxresdefault.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://marketing.casabaca.com/uploads/large_yaris_cross_1_889983e48e.png" class="d-block w-100"
                alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Nueva Generación Año 2022</h5>
                <p>HÍBRIDO ELÉCTRICO ADQUIERELO YA </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://automagazine.ec/wp-content/uploads/2021/05/Nuevo-Toyota-Fortuner-Ec.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
        <div class="carousel-item">
            <img src="https://pbs.twimg.com/media/ESdgN27XsAA-soi.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">

            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</html>